.badge {
  background: rgba(33, 33, 33, 0.05);
  padding: 4px 12px;
  border-radius: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.badge span {
  font-family: 'iFood RC Textos', system-ui, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #424245;
  line-height: 1.667;
  letter-spacing: -0.374px;
  white-space: nowrap;
}
